#nav {
  background-color: transparent !important;
  padding-left: 1%;
  padding-right: 1%;
  animation: fadeIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#items {
  margin-right: 20px;
  font-weight: 400 !important;
  transition: 1s ease;

}

#items:hover {

  color: #595F72;


}

.navBrand {

  color: #D63333;
  font-weight: 500 !important;
  font-size: 2.5vh;
  letter-spacing: 1px;
}

.maincont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2%;
  background-image: url('../assets/back2.png');
  /* Add your background image URL */
  background-size: cover;
}

#science{
  margin-top: 3%;
  text-align: center;
}

#science2{
  margin-top: 3%;
  text-align: center;
}

#science2 ul {
  text-align: left; /* Reset text-align for the list items */
  display: inline-block; /* Make the list display as an inline-block */
  line-height: 2em;
}

#sectionh{
  text-align: center;
  padding: 3%;
}

#textContainer {
  width: 40%;
  padding: 2%;
  margin-top: 18%;
}

.sub {
  font-size: 2.5vh;
  font-weight: 300 !important;
  animation: fadeIn 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}

.sub{
  color: white;
}

.sub .subspan {

  color: #D63333;
  font-weight: bold;

}

.event {
  font-weight: 700;
  font-size: 4vh;
  color: wheat;
  letter-spacing: 3px;
  animation: fadeIn 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.sub2 {
  font-size: 2vh;
  font-weight: 300 !important;
  animation: fadeIn 2.1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  color: whitesmoke;
  font-weight: bold;

}

#initbutton {
  animation: fadeIn 2.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background-color: #D63333;
  border: none;
  border-radius: 0 !important;
  transition: 0.2s ease;
}

#initbutton:hover {
  background-color: #a42626;
}

.image1,
.image2,
.image3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 30vh;
  overflow: hidden;
  border: 2px solid #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  animation: fadeIn 2.1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.image1 {
  margin-top: 15%;
  margin-right: 1%;
}

.image2 {
  margin-top: 34%;
}

.image3 {
  margin-top: 15%;
  margin-left: 1%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.introTextContainer {
  margin: auto auto;
  margin-left: 20px;
  width: 60%;
  /* Adjust the text container width as needed */
  padding: 2%;
  text-align: center;
  height: 300px;
  background-color: #EAEAEA;

}

.introTextContainer h2 {
  color: #333;
  /* Set your desired heading color */
  font-size: 24px;
  /* Set your desired heading font size */
  margin-bottom: 10px;
}

.introTextContainer p {
  color: #666;
  margin-top: 2% !important;
  line-height: 1.5em;
  letter-spacing: 1px;
  /* Set your desired paragraph text color */
  font-size: 16px;
  /* Set your desired paragraph font size */
}

#gall{
  padding: 8%;
}

#venuemap{
  margin-left: 2%;
}

#carouselcont {
  height: 100vh;
  margin-top: 5%;
}

#care {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #595F72;
  color: white;
  border: 1px solid white;
}



#care img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.descriptionContainer {
  width: 50%;
}

.customControlIcon {
  background-color: darkgrey;
}

.customIndicatorIcon {
  background-color: darkgrey;
}

.introSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 1%;
  opacity: 0;
 
  /* animation: fadeIn 1s ease-in-out forwards; */
}

.introImageContainer {
  max-width: 40%;
  object-fit: cover;
  /* Adjust the image container width as needed */
}

.introImageContainer img {
  width: 100%;
  height: 300px;
  border: 1px solid white;
  /* border-radius: 8px;  */
  transition: filter 0.5s ease;
  object-fit: cover;

}

.introImageContainer:hover img {
  filter: grayscale(100%) !important;
}

.image-container:not(:hover) img {
  filter: grayscale(0);
}

.imageGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-left: 1.5%;
  opacity: 0;
  width: 97%;
}

.galleryItem {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.5s ease;
}

.galleryItem:hover img {
  filter: grayscale(100%);
}

.galleryItem:not(:hover) img {
  filter: grayscale(0);
}

#sectionheading {
  text-align: center;
  width: 100%;
  padding: 2%;
  opacity: 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns in the grid */
  gap: 20px; /* Adjust the gap between items */
  padding: 3%;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd; /* Add border for better visibility */
  padding: 20px; /* Add padding for spacing */
  width: 400px; /* Adjust the width as needed */
  height: auto;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.gridItem img {
  width: 80%;
  max-width: 80%;
  height: 20%;
  object-fit: cover;
}

.gridText {
  letter-spacing: 1px;
  line-height: 1.5em;
}

#countrysection{
  margin-top: 3%;
}

#registerhead{
  padding: 2%;
  width: 100%;
  text-align: center;

}

.tickets{
  padding: 2%;
  text-align: center;
}
Button:hover{
  cursor: pointer !important;

}

#registerhead a{
cursor: pointer;
}

.maps{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.maps iframe{
  margin-left: 1%; 
  padding: 2%;

}

#datehead{
  padding: 3%;
  text-align: center;
}

#impdate {
  text-align: center;
  padding: 2%;
  margin-top: 4%;
}

#impdate ul {
  list-style: none;
  padding: 0;
}

#impdate li {
  text-align: center; /* Align text to the left */
  margin-bottom: 10px; /* Adjust the margin between list items */
}

.countriesmap{
  width: 100%;
  top: 1%;
  padding: 1%;
  border: 1px solid darkgray;
}

#det{
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.videoembed{
  display: block; /* Ensures the iframe behaves like a block element */
  margin: 0 auto; 
}


.messagesContainer {
  margin-top: 20px; /* Adjust top margin to prevent covering too much of the website */
  display: flex;
  justify-content: center; /* Center PDFs horizontally */
}

.messagesGrid {
  display: flex;
  flex-wrap: wrap; /* Allow PDFs to wrap to the next line */
  justify-content: center; /* Center PDFs horizontally */
  max-width: 1000px; /* Set maximum width for the grid */
}

.pdfContainer {
  width: 600px; /* Increase PDF container width */
  height: 400px; /* Maintain PDF container height */
  margin: 10px; /* Adjust margin between PDFs */
  overflow-x: auto; /* Enable horizontal scrolling for PDF container */
  border: 1px solid #ccc; /* Add border for visual separation */
}

.pdfPage {
  width: 100%; /* Ensure page takes full width of container */
  height: calc(100% - 20px); /* Adjust page height to fit container minus margin */
}



/* Your existing styles for larger screens */

@media (max-width: 768px) {

  .pdfContainer{
    width: 85%;
    object-fit: cover;
  }
  iframe{
    width: 95%;
  }

  body{
    padding: 2%;
  }

  #venuemap{
    width: 500px !important;
  }

  .maps{
    flex-direction: column;
  }

  .gridContainer {
    grid-template-columns: 1fr; /* Switch to a single column for small screens */
  }

  /* Adjustments for screens with a maximum width of 768px or smaller */
  .maincont {
    flex-direction: column;
    /* Change to a column layout for smaller screens */
    align-items: center;
    /* Center the content */
  }

  #textContainer {
    width: 80%;
    /* Adjust the width for better readability on smaller screens */
    margin-top: 10%;
    /* Adjust the margin for spacing */
  }

  .introTextContainer h2 {

    font-size: 20px;

  }

  .introTextContainer {
    padding: 2%;
  }

  .introTextContainer p {
    font-size: 12px;
  }

  .image1,
  .image2,
  .image3 {
    display: none;
  }
}


