

#nav {
  background-color: transparent !important;
  padding-left: 1%;
  padding-right: 1%;
  animation: fadeIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#items {
  margin-right: 20px;
  font-weight: 400 !important;

}

#items:hover {

  color: #D63333;

}

.navBrand {

  color: #D63333;
  font-weight: 500 !important;
  font-size: 2.5vh;
  letter-spacing: 1px;
}

.maincont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2%;

}


#textContainer {
  width: 40%;
  padding: 2%;
  margin-top: 20%;
}

.sub {
  font-size: 2.5vh;
  font-weight: 300 !important;
  animation: fadeIn 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}

.sub .subspan {

  color: #D63333;

}

.event {
  font-weight: 700;
  font-size: 4vh;
  letter-spacing: 3px;
  animation: fadeIn 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.sub2 {
  font-size: 2vh;
  font-weight: 300 !important;
  animation: fadeIn 2.1s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}

#initbutton {
  animation: fadeIn 2.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background-color: #D63333;
  border: none;
  border-radius: 0 !important;
  transition: 0.2s ease;
}

#initbutton:hover {
  background-color: #a42626;
}

.image1,
.image2,
.image3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 30vh;
  overflow: hidden;
  border: 2px solid #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  animation: fadeIn 2.1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.image1 {
  margin-top: 15%;
  margin-right: 1%;
}

.image2 {
  margin-top: 34%;
}

.image3 {
  margin-top: 15%;  
  margin-left: 1%; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Your existing styles for larger screens */

@media (max-width: 768px) {
  /* Adjustments for screens with a maximum width of 768px or smaller */
  .maincont {
    flex-direction: column; /* Change to a column layout for smaller screens */
    align-items: center; /* Center the content */
  }

  #textContainer {
    width: 80%; /* Adjust the width for better readability on smaller screens */
    margin-top: 10%; /* Adjust the margin for spacing */
  }

  .image1,
  .image2,
  .image3 {
    display: none;
  }
}

#carouselcont{
  height: 100vh;
  margin-top: 3%;
}

#care{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  border: 1px solid white;
}

.descriptionContainer{
  width: 50%;
}

.customControlIcon {
  background-color: darkgrey;
}

.customIndicatorIcon {
  background-color: darkgrey;
}


