body {
    font-family: 'Roboto', sans-serif;
    background: #EAEAEA;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators {
    display: none;
}

.carousel-text {
    text-align: center;

}

.carouselItem img {
    max-width: 100%;
    height: auto;
}

.carousel-text h3 {
    margin-bottom: 5%;
}

/* Add some spacing between title and description */
.carousel-text p {
    margin-top: 5%;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.fadeIn {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fadeIn.active {
    opacity: 1;
  }
  