body {
    font-family: 'Roboto', sans-serif;
    background: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
}

.carousel-text {
    text-align: center;

}

.carouselItem img {
    max-width: 100%;
    height: auto;
}

.carousel-text h3 {
    margin-bottom: 5%;
}

/* Add some spacing between title and description */
.carousel-text p {
    margin-top: 5%;
    letter-spacing: 0.5px;
    line-height: 30px;
}


#sectionheading {
    text-align: center;
    width: 100%;
    padding: 2%;
  }